<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	
    <Bundle AboutUrl="https://vladimirkhil.com/si/game"
            Name="SIGame"
            Condition="(VersionNT = v6.0 AND ServicePackLevel >= 2) OR (VersionNT = v6.1 AND ServicePackLevel >= 1) OR (VersionNT >= v6.2)"
            Version="$(var.ProductVersion)"
            Manufacturer="Khil-soft"
            UpgradeCode="cb6fe944-ebb6-44a9-afcd-ba2ded1790b2"
            IconSourceFile="Resources\game.ico">
		
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
			
            <bal:WixStandardBootstrapperApplication
				LicenseUrl=""
                LocalizationFile="HyperlinkTheme_ru-ru.wxl" 
                LogoFile="Resources\game_small.jpg"
                ThemeFile="HyperlinkTheme.xml"
                SuppressOptionsUI="yes" />
			
        </BootstrapperApplicationRef>

        <Chain>
			<MsiPackage
	            Id="SIGame.Setup.x86"
				Compressed="no"
                DisplayName="SIGame"
                SourceFile="..\..\bin\.Release\SIGame.Setup\x86\ru-ru\SIGame.x86.msi"
				DownloadUrl="https://github.com/VladimirKhil/SI/releases/download/sigame-v$(var.ProductVersion)/SIGame.x86.msi"
	            InstallCondition="NOT VersionNT64" />

			<MsiPackage
			    Id="SIGame.Setup.x64"
				Compressed="no"
			    DisplayName="SIGame"
			    SourceFile="..\..\bin\.Release\SIGame.Setup\x64\ru-ru\SIGame.x64.msi"
				DownloadUrl="https://github.com/VladimirKhil/SI/releases/download/sigame-v$(var.ProductVersion)/SIGame.x64.msi"
			    InstallCondition="VersionNT64" />
        </Chain>
    </Bundle>
</Wix>