<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>26</ApplicationRevision>
    <ApplicationVersion>2.9.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://vladimirkhil.com/si/simulator-new/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>SImulator</ProductName>
    <PublishDir>bin\Release\net6.0-windows\win-x86\publish\</PublishDir>
    <PublishUrl>bin\Release\net6.0-windows\win-x86\publish\</PublishUrl>
    <PublisherName>Khil-soft</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(нет)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>SImulator</SuiteName>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>index.htm</WebPageFileName>
    <History>True|2022-07-18T08:13:59.6999016Z;True|2022-07-18T11:01:20.8796982+03:00;True|2022-07-18T10:56:24.5896869+03:00;True|2022-07-18T10:53:44.8319746+03:00;True|2022-07-18T10:52:43.2999208+03:00;True|2022-07-18T10:51:28.0424944+03:00;True|2022-07-18T10:50:31.5788471+03:00;True|2022-07-18T10:49:32.2791024+03:00;True|2022-07-18T10:47:41.2366435+03:00;</History>
  </PropertyGroup>
</Project>