<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Bundle AboutUrl="https://vladimirkhil.com/si/siquester"
            Name="SIQuester"
            Condition="(VersionNT = v6.0 AND ServicePackLevel >= 2) OR (VersionNT = v6.1 AND ServicePackLevel >= 1) OR (VersionNT >= v6.2)"
            Version="$(var.ProductVersion)"
            Manufacturer="Khil-soft"
            UpgradeCode="31CC22C7-17EC-4D88-88F5-2E3EB1A1FA7C"
            IconSourceFile="Resources\logo.ico">
		
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
			
            <bal:WixStandardBootstrapperApplication
				LicenseUrl=""
                LocalizationFile="HyperlinkTheme_ru-ru.wxl" 
                LogoFile="Resources\logo.png"
                ThemeFile="HyperlinkTheme.xml"
                SuppressOptionsUI="yes" />
			
        </BootstrapperApplicationRef>
      
        <Chain>
            <MsiPackage
	            Id="SIQuester.Setup.x86"
				Compressed="no"
                DisplayName="SIQuester"
                SourceFile="..\..\bin\.Release\SIQuester.Setup\x86\ru-ru\SIQuester.x86.msi"
				DownloadUrl="https://github.com/VladimirKhil/SI/releases/download/siquester-v$(var.ProductVersion)/SIQuester.x86.msi"
	            InstallCondition="NOT VersionNT64" />
			
		    <MsiPackage
			    Id="SIQuester.Setup.x64"
				Compressed="no"
			    DisplayName="SIQuester"
			    SourceFile="..\..\bin\.Release\SIQuester.Setup\x64\ru-ru\SIQuester.x64.msi"
				DownloadUrl="https://github.com/VladimirKhil/SI/releases/download/siquester-v$(var.ProductVersion)/SIQuester.x64.msi"
			    InstallCondition="VersionNT64" />
        </Chain>
    </Bundle>
</Wix>