<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

	<Bundle AboutUrl="http://vladimirkhil.com/si/siquester" Name="SIQuester"
          Condition="(VersionNT = v6.0 AND ServicePackLevel >= 2) OR (VersionNT = v6.1 AND ServicePackLevel >= 1) OR (VersionNT >= v6.2)"
          Version="!(bind.packageVersion.SIQuester.Setup)" Manufacturer="Свояк-софт"
          UpgradeCode="31CC22C7-17EC-4D88-88F5-2E3EB1A1FA7C"
          IconSourceFile="Resources\logo.ico">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl=""
                                              LocalizationFile="HyperlinkTheme_ru-ru.wxl" 
                                              LogoFile="Resources\logo.png"
                                              ThemeFile="HyperlinkTheme.xml"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <util:RegistrySearch Variable="Win8_1Update1" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Value="BuildLabEx" Condition="VersionNT = v6.3" />
      
    <bal:Condition Message="Необходимо установить Update 1 для Windows 8.1.">
        <![CDATA[(VersionNT <> v6.3) OR (Win8_1Update1 << "9600.2") OR (Win8_1Update1 << "9600.19") OR (Win8_1Update1 << "9600.18")
         OR ((Win8_1Update1 << "9600.17") AND NOT (Win8_1Update1 << "9600.1700") AND NOT (Win8_1Update1 << "9600.1701") AND NOT (Win8_1Update1 << "9600.1702") AND NOT (Win8_1Update1 << "9600.17030"))]]>
    </bal:Condition>
      
		<Chain>
          <PackageGroupRef Id="NetFx48Web" />
          <MsiPackage Id="SIQuester.Setup" DisplayName="SIQuester"
                      SourceFile="$(var.SIQuester.Setup.TargetPath)" />
		</Chain>
	</Bundle>
</Wix>