html,body
{
    height: 100%;
}

body {
    background-color: #f1f1fe;
    display: table;
    margin: 0 auto;
    font-family: Tahoma;
    background: linear-gradient(to bottom, #FFFFFF 0%, #8D94EF 100%);
    background-size: 200% 200%;
    animation: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes background {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% 100%;
    }
}

#header
{
    text-align: center;
}

#press
{
    background: red;
    width: 100%;
    height: 100px;
    text-align: center;
	box-shadow: 1px 1px gray;
	border-radius: 10px;
	background-image: radial-gradient(circle farthest-corner at center, #FFAF24 0%, #EF1F1F 100%);
    cursor: pointer;
}

    #press:hover {
        background-image: radial-gradient(circle farthest-corner at center, #ffed24 0%, #EF1F1F 100%);
    }

    #press:active {
        background-image: radial-gradient(circle farthest-corner at center, #feff72 0%, #EF1F1F 100%);
    }

    #press:disabled
    {
        background-color: gray;
	    background-image: radial-gradient(circle farthest-corner at center, darkgray 0%, gray 100%);
    }

#info
{
    text-align: center;
    font-size: large;
	color: gray;
	margin-top: 40px;
}

.main
{
    width: 100%;
    height: 0%;
    margin: 0;
    padding: 0;
}

.content 
{
    width: 75%;
    height: 110px;

    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
}

#error
{
    position: absolute;
    bottom: 0;
    left: 10px;
    color: red;
}