@font-face {
    font-family: 'Clefs';
    src: url('./Clefs.eot');
    src: url('./Clefs.eot?#iefix') format('embedded-opentype'), url('./Clefs.woff') format('woff'), url('./Clefs.ttf') format('truetype'), url('./Clefs.svg#Clefs') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, #reactHost {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Standard';
}

.playersAndTable {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#table {
	flex: 2.5 !important;
}

.gamePlayers {
    flex-direction: row !important;
    background: #0a0e30 !important;
    margin: 0 !important;
    width: 100% !important;
}

    .gamePlayers li {
        flex: 1 !important;
        height: auto !important;
        margin: 0 !important;
        max-width: initial !important;
    }

    .gamePlayers .playerCard {
        padding: 0 !important;
    }

    .gamePlayers div.playerInfo {
        background-color: transparent !important;
        color: white !important;
        display: flex !important;
    }

    .gamePlayers .playerInfo .name {
        display: initial !important;
    }

    .gamePlayers li.me div.name, .gamePlayers li.me div.stakeHost, .gamePlayers li.me div.sum {
        color: white !important;
    }

    .gamePlayers li .playerInfo div.stakeHost {
        display: none !important;
    }

    .gamePlayers .playerAvatar {
        display: none !important;
    }

    .gamePlayers .gamePlayer.state_press div.playerInfo {
        color: darkblue !important;
    }

    .gamePlayers li.state_press.me div.name, .gamePlayers li.state_press.me div.stakeHost, .gamePlayers li.state_press.me div.sum {
        color: darkblue !important;
    }

.stakeHost {
    display: none !important;
}

.gamePlayer .progress {
    top: 0 !important;
}

@media screen and (min-width: 1100px) and (min-height: 700px) {
    .gamePlayer {
        font-size: 35px !important;
    }

        .gamePlayer:nth-last-child(n+6),
        .gamePlayer:nth-last-child(n+6) ~ li {
            font-size: 30px !important;
        }

        .gamePlayer:nth-last-child(n+9),
        .gamePlayer:nth-last-child(n+9) ~ li {
            font-size: 25px !important;
        }
}

@media screen and (min-width: 1600px) and (min-height: 700px) {
    .gamePlayer {
        font-size: 50px !important;
    }

        .gamePlayer:nth-last-child(n+6),
        .gamePlayer:nth-last-child(n+6) ~ li {
            font-size: 45px !important;
        }

        .gamePlayer:nth-last-child(n+9),
        .gamePlayer:nth-last-child(n+9) ~ li {
            font-size: 40px !important;
        }
}